// Font - monospace
@font-face {
  font-family: "IBM Plex Mono Regular";
  src: url("/fonts/IBM-Plex-Mono-Regular.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

// Font - regular
@font-face {
  font-family: "DM Sans";
  src: url("/fonts/DMSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// Font - medium
@font-face {
  font-family: "DM Sans Medium";
  src: url("/fonts/DMSans-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

// Font - bold
@font-face {
  font-family: "DM Sans Bold";
  src: url("/fonts/DMSans-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// Global setup
body {
  margin: 0px;
  background-color: #13131e;
  font-family: "DM Sans", sans-serif;
}

// nProgress bar overrides
#nprogress .bar {
  background: #6866f6 !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #6866f6, 0 0 5px #6866f6 !important;
}

#nprogress .spinner-icon {
  border-top-color: #6866f6 !important;
  border-left-color: #6866f6 !important;
}

// Use monospace font for numeric values
#numeric {
  font-family: "IBM Plex Mono Regular";
}

// Proposal count card style override
#count {
  background-image: url("/brand/proposals-bg.svg");
  background-position: center center;
  background-size: cover;
  background-color: #6866f6;
  border: none;
}

#waveform {
  object-fit: cover;
  position: fixed;
  top: 10%;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
}
